<div class="table-responsive">
  <h3>Prepared speakers</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Role</th>
      <tr>
    </thead>
    <tbody>
    <% @meeting.role_players.select {|r| r.role.name == 'Prepared speaker'}.each do |rp| %>
      <tr>
        <td><%= rp.member.name %></td>
        <td><%= rp.role.name %></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <h3>Table topic speakers</h3>
  <table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
    <tr>
  </thead>
  <tbody>
  <% @meeting.role_players.select {|r| r.role.name == 'Table topic speaker'}.each do |rp| %>
    <tr>
      <td><%= rp.member.name %></td>
      <td><%= rp.role.name %></td>
    </tr>
  <% end %>
  </tbody>
</table>

</div>
