/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
div.panel,.panel-default {
    margin: 20px 0;
}

div.input-group-text {
    background: none;
    /* border: none; */
    width: 100%;
}

span.input-group-text{
    font-size: larger;
    background: transparent;
    border: none;
    width: 30%;
} 

div.input-group-text > input {
    width: 10%;
}

div.input-group-prepend {
    width: 100%;
}

div.panel > div.panel-heading {
    background: gainsboro;
}


.navbar-brand{
    font-size: xx-large;
}

.navbar-nav > li.nav-item > a.nav-link {
    font-size: large;
}
