<h1>Editing Member</h1>

<%= render 'form', member: @member %>

<% if current_member.is_admin? %>
    <%= button_to 'Show', @member, :method => 'get', :class => "btn btn-success" %>
    <%= button_to 'Back', members_path, :method => 'get', :class => "btn btn-default" %>
<% end %>